/************************************
Media Queries
*************************************/


.mobmenu-left-panel {
    width: 280px !important;
}

.fw-top-bar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 20px;
}

.header-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.header-text-container a:focus,
.downloadSection a:focus {
    color: white;
}

.phone-text {display: none;}

.phone-number {display: none;}

.view-basket-text {display: none;}

.header-text-left {flex: 0 0 20px; text-align: left;}

.header-text-center {flex: 1 0 auto; text-align: center;}

.header-text-right {flex: 0 0 20px; text-align: right;}

.header-1.fw-top-logo-left .fw-wrap-logo {
    float: left !important;
}

.header-1.fw-top-logo-left .fw-wrap-logo .fw-site-logo {
    text-align: left;
}

.header-1.fw-top-logo-left .fw-wrap-logo img {
    max-width: 182px;
}

.fw-header-main .downloadSection {
    padding: 6px 0 2px 0;
    font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.header-download-link,
.footer-download-link {
    color: #fff;
    font-size: 13px;
}

.header-download-link:active,
.header-download-link:hover,
.header-download-link:active,
.footer-download-link:hover {
    color: #ededed;
}

.header-download-link {font-size: 13px;}

.downloadable-intro-text {display: none;}

.fw-container .fw-wrap-logo {width: 50% !important; float: left;}

.fw-container .fw-wrap-logo a img {width: 100% !important; margin-top: 0 !important;}

.fw-search.fw-mini-search {width: 50% !important; float: left !important; margin: 0 !important;}

.fw-search-icon {float: right; margin: 15px auto 0 !important;}

/* make the google search form look better on mobile */
.fw-header .fw-form-search-full.fw-wrap-search-form {
    padding: 0;
}

.fw-form-search-full.fw-wrap-search-form h4 {
    margin-left: 10px;
}

.fw-form-search-full.fw-wrap-search-form .gsc-control-cse {
    padding: 0;
}

.fw-form-search-full.fw-wrap-search-form table,
.fw-form-search-full.fw-wrap-search-form th,
.fw-form-search-full.fw-wrap-search-form td {
    border: none;
}

button.gsc-search-button {
    padding: 12px 27px 0;
}

.covid-banner {
    margin: 10px 0;
    margin-bottom: 10px !important;
}

/* for the covid button to wrap */
.heroSectionMainLarge .fw-btn {white-space: normal;}

/* for the homepage banner */
.homepage-banner-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    padding: 20px 0;
}
.homepage-banner-overlay .fw-text-inner {
    width:100%;
}

h1.homepage-banner-heading,
h2.homepage-banner-subheading {
    text-align: center;
    color: #fff !important;
}

.homepage-banner-heading {
    font-size: 18px !important;
    line-height: 1.4 !important;
}

.homepage-banner-subheading {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    display: none;
}


.homepage-banner-button-collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-banner-button {
    flex: 1 1 auto;
    width: 80%;
    max-width: 300px;
    padding: 4px 10px;
    margin-top: 9px;
    box-sizing: border-box;
    color: white;
    background-color: #1aa72a;
    text-align: center;
    font-family: 'Quattrocento Sans';
}
.homepage-banner-button:focus {
    color: white;
}

.homepage-banner-button,
.homepage-banner-button-icon {
    color: white;
}

.homepage-banner-button:hover,
.homepage-banner-button:active {
    background-color: gray;
    color: white;
}


.opusbox,
.opusbox-small {
    position: relative;
}

.opusbox::before,
.opusbox-small::before {
    display: block;
    content: " ";
    position: absolute;
    z-index: 1;
    background: rgb(255, 255, 255);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.opusbox:hover::before,
.opusbox-small:hover::before {
    opacity: 0.2;
}

@media only screen and (min-width: 480px) {
    .header-text-container {
        font-size: 16px;
    }

    .fw-header-main .downloadSection {padding: 10px 0;}

    .header-download-link,
    .footer-download-link {
        font-size: 16px;
    }

}

@media only screen and (min-width: 620px) {
    .header-text-left,
    .header-text-right {
        flex-basis: auto;
    }
    .phone-number {
        display:inline;
    }
    .view-basket-text {
        display:inline;
    }
    .downloadable-intro-text {
        display:inline;
    }
}

@media only screen and (min-width: 768px) {
    h1.homepage-banner-heading {
        font-size: 40px !important;
        font-weight: 700 !important;
        font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    }

    h2.homepage-banner-subheading {
        display: block;
        font-size: 18px !important;
        text-align: center;
        font-family: 'Quattrocento Sans', sans-serif;
    }
}

@media only screen and (min-width: 1025px) {
    .phone-text {display:inline;}
    .homepage-banner-overlay {
        padding: 20px 20px;
    }
    .homepage-banner-button-collection {
        flex-direction: row;
        margin: 0 -15px;
    }
    .homepage-banner-button {
        margin: 0 15px;
        padding: 20px 5px;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 1200px) {
    .header-text-container {
        padding:15px;
        font-size: 18px;
    }

    .fw-header-main .downloadSection {
        padding: 15px 0;
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .opusboxes .fw-container {
        width: 100% !important;}

    /*.opusboxone, .opusboxtwo, .opusboxthree, .opusboxfour {*/
    /*    min-height: 390px*/
    /*}*/
    .opusbox .fw-wrap-col-inner {
        height: 180px;
    }

    .opusbox-small .fw-wrap-col-inner {
        height: 60px;
    }
}

@media only screen and (min-width: 992px) {
    .opusbox .fw-wrap-col-inner {
        height: 200px;
    }

    .opusbox-small .fw-wrap-col-inner {
        height: 80px;
    }
}

@media only screen and (max-width: 767px) {
    li#menu-item-6309 {display: none;}

    li#menu-item-6310 {display: none;}

    .tf-sh-abf483ff8ed1aba81bf7037064cc0cf9 .fw-col-inner {
        padding: 30px 0px 0px 0px !important;
    }


    .floatleft {
        width: 100% !important;

    }

    .floatright {
        width: 100% !important;
        text-align: center;
    }

}


@media only screen and (min-width: 480px) and (max-width: 845px) {
    footer#colophon {
        background-color: #000000 !important;
    }
}

@media screen and (max-width: 479px) {
    /*.fw-search.fw-mini-search {*/
    /*    display: none !important;*/
    /*}*/
    .floatleft {
        width: 100% !important;

    }

    .floatright {
        width: 100% !important;
        text-align: center;
    }


    .fw-top-bar {
        line-height: 20px;
    }

    .bannerbutton {
        width: 100%;
        margin-bottom: 15px;
    }

    .yearone, .yeartwo, .yearthree {
        width: 100%;
        margin-bottom: 20px;

    }

    .yeartwo {
        margin: 0px 0px 20px 0px;
    }
}

@media only screen and (min-width: 1024px) {

    .reasonone, .reasontwo, .reasonthree, .reasonfour {
        height: 340px;
    }

    /*    .fw-col-sm-3 .borderright{
            border:none;
        }*/

}

@media only screen and (max-width: 1024px) {

    .fw-col-sm-3 .borderright {
        border: none;
    }

}

@media only screen and  (min-width: 1200px) {
    .header-1.fw-top-logo-left .fw-wrap-logo {
        float: left !important;
        width: auto !important;
    }

    .fw-search.fw-mini-search {
        width: auto !important;
        float: right !important;
        margin: 10px 0 0 24px !important;
    }
}

/************************************
End of Media Queries
************************************
/
